.card {
  width: 300px;

  border: 2px solid orange;
  border-radius: 0 0 10px 10px;
  margin: 0 15px 10px 10px;

  & img {
    width: 100%;
    height: 200px;
  }

  &__body {
    padding: 0 1rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;
    // padding: 0 1rem;
  }

  &__stars {
    color: darkslateblue;
    font-size: medium;
  }

  &__category {
    background-color: darkslateblue;
    color: white;
    display: inline;
    padding: 0.5rem 0.4rem;
    text-align: center;
    font-size: small;
    border-radius: 0 0 5px 0;
  }

  &__title {
    font-size: larger;
    font-weight: bold;
  }

  & p {
    text-align: center;
  }

  &__operations {
    font-size: 1.5rem;
    padding: 1rem 1rem;
    &__ope {
      margin-right: 1rem;
      color: darkslateblue;
      cursor: pointer;
      &:hover {
        color: orange;
      }
    }

    &__delete:hover {
      color: red;
    }
  }
}
