.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  background-color: darkslateblue;
  color: white;

  &__social {
    font-size: 2rem;
    &__icon {
      color: white;
      margin-left: 2rem;
      &:hover {
        color: orange;
      }
    }
  }
}
